<template>
  <v-dialog v-model="fileModal" max-width="700" @click:outside.prevent="onClickOutside">
    <v-card>
      <v-card-title class="headline">{{file.name}}</v-card-title>
      <v-card-text>
        <v-img :src="getFilePath()"/>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'filePopup',
    props: {
      fileModal: false,
      file: undefined
    },
    methods: {
      onClickOutside: function(event) {
        this.$emit('click:outside', event)
      },
      getFilePath: function(){
        return process.env.MEDIA_URL + this.$props.file.file
      }
    }
  }
</script>

<style scoped>

</style>
