<template>
  <div>
    <v-dialog v-model="dialog" max-width="1200" scrollable persistent no-click-animation>
      <v-card height="600" color="background" class="crt">
        <v-card-text>
          <div v-if="loading">
            retrieve data...
            <v-progress-linear indeterminate color="white" class="mb-0"/>
          </div>
          <vue-command :commands="commands" title="consortium database access"
                       :prompt="getCurrentPrompt()"
                       ref="cmd" :autocompletion-resolver="autocompletionResolver"
                       autocomplete-spacing="10px"
                       show-help
                       v-else
                       style="font-size: x-large"/>
        </v-card-text>
      </v-card>
    </v-dialog>

    <file-popup :file-modal="fileModal" :file="openedFile" @click:outside.prevent="onClickOutsideFileModal" v-if="fileModal"/>
  </div>
</template>

<script>
  import VueCommand from 'vue-command'
  import 'vue-command/dist/vue-command.css'
  import yargsParser from 'yargs-parser'
  import FilePopup from './filePopup'

  export default {
    name: 'terminal',
    components: {
      FilePopup,
      VueCommand
    },
    data: function() {
      return {
        connectedServer: 'chat.privateserver',
        connectedUser: 'guest',
        accessLevel: '$',
        dialog: true,
        fileModal: false,
        openedFile: '',
        loading: false,
        currentFolder: '/home/guest',
        commands: {
          // yargs arguments
          ls: {
            command: async ({ _ }) => {
              let path = _[1] || this.currentFolder.path
              let folder = this.currentFolder
              if (_[1]){
                let response = await this.$axios.post('', {
                  query: `
                  {
                    fileSystemItemByPath(path: "${path}"){
                      items{
                        name
                        isFile
                      }
                    }
                  }`
                })
                folder = response.data.data.fileSystemItemByPath
              }
              return '<b class="teal--text">. ..</b> ' + folder.items.map(item => {
                return item.isFile ? item.name : `<b class="teal--text">${item.name}`
              }).join(' ')
            }
          },
          cd: {
            command: async ({ _ }) => {
              if (_[1] === undefined)
                return 'no path provided'

              let path = _[1]
              let response = await this.$axios.post('', {
                query: `
                  {
                    fileSystemItemByPath(path: "${path}"){
                      id
                      name
                      path
                      items{
                        name
                        file
                        isFile
                      }
                    }
                  }`
              })

              if (response.data.errors)
                return `<i class="red--text">folder ${path}/ not found</i>`

              this.currentFolder = response.data.data.fileSystemItemByPath
              return ''
            }
          },
          cat: {
            command: ({ _ }) => {
              let item = this.documents.find(i => i.name === _[1])
              if (!item)
                return `cat: ${_[1]}: No such file or directory`
              if (item.type === 'folder')
                return `cat: ${_[1]}: Is a directory`
              return item.content
            }
          },
          open: {
            command: ({_}) => {
              let folderItem = this.currentFolder.items.find(item => item.isFile && item.name === _[1])
              if(!folderItem)
                return `<i class="red--text">file ${_[1]} not found</i>`
              console.log(folderItem)
              this.openedFile = folderItem
              this.fileModal = true
              return ''
            }
          },
          help: {
            command: ({ _ }) => {
              if (_[1]) {
                let program = _[1]

                const command = this.commands[program]
                return command ? command.helpText : `provided command <b>${program}</b> not found`
              } else {
                let commands = Object.keys(this.commands)
                let trContent = []
                while (commands.length) {
                  trContent.push(commands.splice(0, 10))
                }
                trContent = trContent.map(tr => `<tr>${tr.map(td => `<td>${td}</td>`).join('')}</tr>`).join('')
                return `<table style="border-spacing: 10px">${trContent}</table>`
              }
            },
            resolver: (command) => {
              let commands = Object.keys(this.commands)
              let index = command.length - 1
              let argument = command[index]

              let candidates = commands.filter(c => c.startsWith(argument)) || argument
              if (index > 1) { return '' }
              if (index === 0) { console.log('undefined'); return commands }
              if (candidates.length === 0) { return argument }
              if (candidates.length > 1) { return candidates }
              return candidates[0]
            },
            helpText: `
              Syntax: help [command] <br/>
              return a general help message for each command provided
             `
          },
          /*clear: () => {
            console.log(this.$refs.cmd)
            console.log(this.$refs.cmd.history)
            return ''
          }*/
        }
      }
    },
    async mounted() {
      let path = this.currentFolder
      let response = await this.$axios.post('', {
        query: `
          {
            fileSystemItemByPath(path: "${path}"){
              name
              path
              items{
                name
                file
                isFile
              }
            }
          }`
      })
      this.currentFolder = response.data.data.fileSystemItemByPath
    },
    methods: {
      onClickOutsideFileModal: function(event) {
        this.fileModal = false
      },
      getCurrentPrompt: function() {
        return `<span class="teal--text">${this.connectedUser}@${this.connectedServer}</span>:<b class="cyan--text">${this.currentFolder.path || this.currentFolder}</b>${this.accessLevel}`
      },
      autocompletionResolver: function (current, cursor) {
        const { _ } = yargsParser(current, this.yargsOptions)
        let commands = Object.keys(this.commands)

        let candidates = commands.filter(c => c.startsWith(_[0])) || _[0]
        if (candidates.length === 0) { return _[0] }
        if (candidates.length > 1) { return candidates }
        let command = candidates[0]
        if (_[0].trim() === command) {
          let resolvedArgument = this.commands[command].resolver(_)
          if (Array.isArray(resolvedArgument)) { return resolvedArgument }
          return _.slice(0, _.length - 1).join(' ') + ' ' + resolvedArgument
        }
        return command
      }
    }
  }
</script>

<style>
</style>
