<template>
  <div>
    <terminal/>
  </div>
</template>

<script>
  import Terminal from '../components/terminal/terminal'

  export default {
    components: {
      Terminal
    },
    data: function() {
      return ({})
    },
    methods: {
      /*onExecuted: function(event) {
        if (event === 'clear') {
          this.$refs.cmd.history = []
          this.$refs.cmd.handle('')
        }
      }*/
    },
    mounted() {
    }
  }
</script>

<style>
  .vue-command {
    background-color: transparent;
    border: 0px solid transparent;
  }

  .vue-command .term {
    border: none;
  }
</style>
